build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/data_test
build/dataElement_test
build/dataPattern_test
build/dataPatternElement_test
build/linda-potoki
build/Makefile
build/request_test
build/response_test
build/tuple_test
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-0f55da5d5030e2cf0c84.json
build/.cmake/api/v1/reply/codemodel-v2-0041ae0707cf57e01e95.json
build/.cmake/api/v1/reply/index-2021-05-18T09-27-48-0794.json
build/.cmake/api/v1/reply/target-data_test-Debug-bc97cd78a580cb255ae4.json
build/.cmake/api/v1/reply/target-dataElement_test-Debug-20c477ee9d92c03b5e3e.json
build/.cmake/api/v1/reply/target-dataPattern_test-Debug-457368d93ba8bbe108a8.json
build/.cmake/api/v1/reply/target-dataPatternElement_test-Debug-a316169300f0c8ea238c.json
build/.cmake/api/v1/reply/target-linda-potoki-Debug-2fa49f5ced752e24211c.json
build/.cmake/api/v1/reply/target-request_test-Debug-48d211cc51e384230954.json
build/.cmake/api/v1/reply/target-response_test-Debug-76777464797db63dd936.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.19.0-rc3/CMakeCCompiler.cmake
build/CMakeFiles/3.19.0-rc3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.19.0-rc3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.19.0-rc3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.19.0-rc3/CMakeSystem.cmake
build/CMakeFiles/3.19.0-rc3/CompilerIdC/a.out
build/CMakeFiles/3.19.0-rc3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.19.0-rc3/CompilerIdCXX/a.out
build/CMakeFiles/3.19.0-rc3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/dataElement_test.dir/build.make
build/CMakeFiles/dataElement_test.dir/cmake_clean.cmake
build/CMakeFiles/dataElement_test.dir/CXX.includecache
build/CMakeFiles/dataElement_test.dir/depend.internal
build/CMakeFiles/dataElement_test.dir/depend.make
build/CMakeFiles/dataElement_test.dir/DependInfo.cmake
build/CMakeFiles/dataElement_test.dir/flags.make
build/CMakeFiles/dataElement_test.dir/link.txt
build/CMakeFiles/dataElement_test.dir/progress.make
build/CMakeFiles/dataElement_test.dir/src/dataElement.cpp.o
build/CMakeFiles/dataElement_test.dir/test/dataElement_test.cpp.o
build/CMakeFiles/dataPatternElement_test.dir/build.make
build/CMakeFiles/dataPatternElement_test.dir/cmake_clean.cmake
build/CMakeFiles/dataPatternElement_test.dir/CXX.includecache
build/CMakeFiles/dataPatternElement_test.dir/depend.internal
build/CMakeFiles/dataPatternElement_test.dir/depend.make
build/CMakeFiles/dataPatternElement_test.dir/DependInfo.cmake
build/CMakeFiles/dataPatternElement_test.dir/flags.make
build/CMakeFiles/dataPatternElement_test.dir/link.txt
build/CMakeFiles/dataPatternElement_test.dir/progress.make
build/CMakeFiles/dataPatternElement_test.dir/src/dataPatternElement.cpp.o
build/CMakeFiles/dataPatternElement_test.dir/test/dataPatternElement_test.cpp.o
build/CMakeFiles/dataPattern_test.dir/build.make
build/CMakeFiles/dataPattern_test.dir/cmake_clean.cmake
build/CMakeFiles/dataPattern_test.dir/CXX.includecache
build/CMakeFiles/dataPattern_test.dir/depend.internal
build/CMakeFiles/dataPattern_test.dir/depend.make
build/CMakeFiles/dataPattern_test.dir/DependInfo.cmake
build/CMakeFiles/dataPattern_test.dir/flags.make
build/CMakeFiles/dataPattern_test.dir/link.txt
build/CMakeFiles/dataPattern_test.dir/progress.make
build/CMakeFiles/dataPattern_test.dir/src/dataPattern.cpp.o
build/CMakeFiles/dataPattern_test.dir/test/dataPattern_test.cpp.o
build/CMakeFiles/data_test.dir/build.make
build/CMakeFiles/data_test.dir/cmake_clean.cmake
build/CMakeFiles/data_test.dir/CXX.includecache
build/CMakeFiles/data_test.dir/depend.internal
build/CMakeFiles/data_test.dir/depend.make
build/CMakeFiles/data_test.dir/DependInfo.cmake
build/CMakeFiles/data_test.dir/flags.make
build/CMakeFiles/data_test.dir/link.txt
build/CMakeFiles/data_test.dir/progress.make
build/CMakeFiles/data_test.dir/src/data.cpp.o
build/CMakeFiles/data_test.dir/test/data_test.cpp.o
build/CMakeFiles/linda-potoki.dir/build.make
build/CMakeFiles/linda-potoki.dir/cmake_clean.cmake
build/CMakeFiles/linda-potoki.dir/CXX.includecache
build/CMakeFiles/linda-potoki.dir/depend.internal
build/CMakeFiles/linda-potoki.dir/depend.make
build/CMakeFiles/linda-potoki.dir/DependInfo.cmake
build/CMakeFiles/linda-potoki.dir/flags.make
build/CMakeFiles/linda-potoki.dir/link.txt
build/CMakeFiles/linda-potoki.dir/progress.make
build/CMakeFiles/linda-potoki.dir/src/data.cpp.o
build/CMakeFiles/linda-potoki.dir/src/main.cpp.o
build/CMakeFiles/request_test.dir/build.make
build/CMakeFiles/request_test.dir/cmake_clean.cmake
build/CMakeFiles/request_test.dir/CXX.includecache
build/CMakeFiles/request_test.dir/depend.internal
build/CMakeFiles/request_test.dir/depend.make
build/CMakeFiles/request_test.dir/DependInfo.cmake
build/CMakeFiles/request_test.dir/flags.make
build/CMakeFiles/request_test.dir/link.txt
build/CMakeFiles/request_test.dir/progress.make
build/CMakeFiles/request_test.dir/src/request.cpp.o
build/CMakeFiles/request_test.dir/test/request_test.cpp.o
build/CMakeFiles/response_test.dir/build.make
build/CMakeFiles/response_test.dir/cmake_clean.cmake
build/CMakeFiles/response_test.dir/CXX.includecache
build/CMakeFiles/response_test.dir/depend.internal
build/CMakeFiles/response_test.dir/depend.make
build/CMakeFiles/response_test.dir/DependInfo.cmake
build/CMakeFiles/response_test.dir/flags.make
build/CMakeFiles/response_test.dir/link.txt
build/CMakeFiles/response_test.dir/progress.make
build/CMakeFiles/response_test.dir/src/response.cpp.o
build/CMakeFiles/response_test.dir/test/response_test.cpp.o
build/CMakeFiles/tuple_test.dir/build.make
build/CMakeFiles/tuple_test.dir/cmake_clean.cmake
build/CMakeFiles/tuple_test.dir/CXX.includecache
build/CMakeFiles/tuple_test.dir/depend.internal
build/CMakeFiles/tuple_test.dir/depend.make
build/CMakeFiles/tuple_test.dir/DependInfo.cmake
build/CMakeFiles/tuple_test.dir/flags.make
build/CMakeFiles/tuple_test.dir/link.txt
build/CMakeFiles/tuple_test.dir/progress.make
build/CMakeFiles/tuple_test.dir/src/tuple.cpp.o
build/CMakeFiles/tuple_test.dir/test/tuple_test.cpp.o
build/Testing/TAG
build/Testing/20210518-0916/Test.xml
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest_20210518-0916.log
build/Testing/Temporary/LastTest.log
build/.cmake/api/v1/reply/codemodel-v2-b75b1fa0a48f4776c492.json
build/.cmake/api/v1/reply/index-2021-05-18T09-43-08-0438.json
build/.cmake/api/v1/reply/target-data_test-Debug-c08d2e9a4db02ede65f0.json
build/.cmake/api/v1/reply/target-dataElement_test-Debug-e0fe78b053bb22424ea2.json
build/.cmake/api/v1/reply/target-dataPattern_test-Debug-4274dbe94f312f48ea58.json
build/.cmake/api/v1/reply/target-dataPatternElement_test-Debug-6afe6836899c1a2b54de.json
build/.cmake/api/v1/reply/target-linda-potoki-Debug-84aca365da5269d831b4.json
build/.cmake/api/v1/reply/target-request_test-Debug-440069e26b91399870bd.json
build/.cmake/api/v1/reply/target-response_test-Debug-503305939806aa8337be.json
build/CMakeFiles/linda-potoki.dir/src/dataElement.cpp.o
build/CMakeFiles/linda-potoki.dir/src/dataPattern.cpp.o
build/CMakeFiles/linda-potoki.dir/src/dataPatternElement.cpp.o
build/CMakeFiles/linda-potoki.dir/src/request.cpp.o
build/CMakeFiles/linda-potoki.dir/src/response.cpp.o
.vscode/settings.json
build/.cmake/api/v1/reply/index-2021-05-18T12-54-12-0967.json
build/Testing/Temporary/LastTestsFailed_20210518-0916.log
build/.cmake/api/v1/reply/codemodel-v2-5d917ea2ffb09bcf765e.json
build/.cmake/api/v1/reply/index-2021-05-18T14-51-58-0304.json
build/.cmake/api/v1/reply/target-data_test-Debug-cfea4b3b6a8ee45fafca.json
build/.cmake/api/v1/reply/target-dataPattern_test-Debug-0137b982d1d523e84fff.json
build/.cmake/api/v1/reply/target-request_test-Debug-c9450d8bc95f77c1e0e6.json
build/.cmake/api/v1/reply/target-response_test-Debug-85a8da13593683a39bb9.json
build/CMakeFiles/dataPattern_test.dir/src/dataPatternElement.cpp.o
build/CMakeFiles/data_test.dir/src/dataElement.cpp.o
build/CMakeFiles/request_test.dir/src/data.cpp.o
build/CMakeFiles/request_test.dir/src/dataElement.cpp.o
build/CMakeFiles/response_test.dir/src/data.cpp.o
build/CMakeFiles/response_test.dir/src/dataElement.cpp.o
build/.cmake/api/v1/reply/codemodel-v2-382caf93cdb360eadaf9.json
build/.cmake/api/v1/reply/index-2021-05-18T16-55-58-0160.json
build/.cmake/api/v1/reply/target-dataElement_test-Debug-d82a7eb84bdff6e2998f.json
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/3
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/5
build/CMakeFiles/Progress/6
build/CMakeFiles/Progress/7
build/CMakeFiles/Progress/8
build/CMakeFiles/Progress/9
build/CMakeFiles/Progress/10
build/CMakeFiles/Progress/11
build/CMakeFiles/Progress/15
build/CMakeFiles/Progress/21
build/CMakeFiles/Progress/22
build/CMakeFiles/Progress/24
build/CMakeFiles/Progress/25
build/CMakeFiles/Progress/30
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/dataElement_test.dir/src/dataPatternElement.cpp.o
